In [1]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 4.5 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [2]:
import pandas as pd

In [4]:
df=pd.read_excel('s3://wingrove-241-2023-python/Diamonds.xls')

df.head(10)

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [6]:
df.tail(10)

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
298   299    1.01     G    VVS2   HRD   9993
299   300    1.01     G     VS2   HRD   9293
300   301    1.01     H    VVS2   HRD   9433
301   302    1.01     H     VS1   HRD   9153
302   303    1.01     I    VVS1   HRD   8873
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

In [7]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [8]:
df['PRICE']

0       1302
1       1510
2       1510
3       1260
4       1641
       ...
303     8175
304    10796
305     9890
306     8959
307     9107
Name: PRICE, Length: 308, dtype: int64

In [9]:
df['WEIGHT']

0      0.30
1      0.30
2      0.30
3      0.30
4      0.31
       ...
303    1.01
304    1.02
305    1.06
306    1.02
307    1.09
Name: WEIGHT, Length: 308, dtype: float64

In [10]:
df['RATER']

0      GIA
1      GIA
2      GIA
3      GIA
4      GIA
      ...
303    HRD
304    HRD
305    HRD
306    HRD
307    HRD
Name: RATER, Length: 308, dtype: object

In [16]:
df[0:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [19]:
df.loc[df['PRICE']>1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

In [20]:
df['COLOR'].count()

308

In [22]:
df['COLOR'].value_counts()

F    82
G    65
H    61
E    44
I    40
D    16
Name: COLOR, dtype: int64

In [23]:
df.mean()

/tmp/ipykernel_14443/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

IDNO       154.500000
WEIGHT       0.630909
PRICE     5019.483766
dtype: float64

In [24]:
df['WEIGHT'].mean()

0.6309090909090909

In [25]:
df['WEIGHT'].median()

0.62

In [26]:
df['WEIGHT'].max()

1.1

In [27]:
df['WEIGHT'].min()

0.18

In [28]:
df.groupby('COLOR').mean()

/tmp/ipykernel_14443/1353082583.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('COLOR').mean()

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [29]:
df.groupby('COLOR').mean()['PRICE']

/tmp/ipykernel_14443/1762345461.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('COLOR').mean()['PRICE']

COLOR
D    7099.875000
E    5507.931818
F    4786.402439
G    4426.184615
H    4965.016393
I    5175.025000
Name: PRICE, dtype: float64

In [30]:
df.groupby('CLARITY').mean()['PRICE']

/tmp/ipykernel_14443/1708262606.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('CLARITY').mean()['PRICE']

CLARITY
IF      2694.772727
VS1     5057.037037
VS2     5858.169811
VVS1    5567.634615
VVS2    5356.551282
Name: PRICE, dtype: float64

In [31]:
df['unit_price']=df['PRICE']/df['WEIGHT']

df.head()

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   unit_price
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

In [32]:
from scipy import stats

In [37]:
result=stats.linregress(df['WEIGHT'],df['PRICE'])

In [38]:
print(result.slope)
print(result.intercept)

11598.884012882309
-2298.3576018937993

In [40]:
print(0.5*result.slope+result.intercept)

3501.084404547355

In [41]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 636.8/636.8 kB 9.2 MB/s eta 0:00:0000:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [42]:
from textblob import TextBlob

In [44]:
result=TextBlob('i wish the class is over')
print(result.sentiment.polarity)

0.0

In [45]:
result=TextBlob('i love dogs')
print(result.sentiment.polarity)

0.5

In [47]:
result=TextBlob('i hate cats')
print(result.sentiment.polarity)

-0.8