# lab12

In [4]:
import pandas as pd

df=pd.read_excel('s3://wingrove-241-2023-python/house_price.xls')

df.head()

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709

In [3]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 4.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

## 3.1

In [8]:
df['unit_price']=df['price']/df['area']
df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,total_unit_price,unit_price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222,104.097222

## 3.2

In [18]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

## 3.3

In [24]:
print('the average price of houses with more than two bathrooms is ${:,g}'.format(df.loc[df['bathroom']>1]['price'].mean()))

the average price of houses with more than two bathrooms is $351,694

## 3.4

In [31]:
print('mean price is ${:,g}'.format(df['unit_price'].mean()))

mean price is $167.459

In [32]:
print('meadian price is ${:,g}'.format(df['unit_price'].median()))

meadian price is $130.134

## 3.5

In [28]:
df.groupby('house_type').mean()['unit_price']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit_price, dtype: float64

## 3.6

In [33]:
from scipy import stats

In [34]:
model=stats.linregress(df['area'],df['price'])

In [35]:
print('slope is {:2f}'.format(model.slope))
print('intercept is {:2f}'.format(model.intercept))
print('p is {:2f}'.format(model.pvalue))
print('r square is {:2f}'.format(model.rvalue**2))

slope is 79.954957
intercept is 156254.762451
p is 0.001340
r square is 0.234390

## 3.7

In [36]:
print('the price of a 2,000 sqft house is ${:,g}'.format(2000*model.slope+model.intercept))

the price of a 2,000 sqft house is $316,165